<!DOCTYPE HTML>
<html>
  <head>
    <title>Супер простой магазин :)</title>
  </head>
  <body>
    <h2>
        Привет! Это самый простой магазин.
    </h2>
    <p>
        Здесь есть всего 2 товара и админка, можешь в нее зайти (ключи будут в файле .env_example)
    </p>
    <a href='/item/1'> Здесь майка </a> <br><br>
    <a href='/item/2'> Здесь шорты </a> <br><br>
    <a href='/admin'> Здесь админка </a> <br><br>
    <a href='/order/2a23d49a-c547-48f2-8d22-aac3ce5fe736'> Здесь ссылка на заказ через Stripe Checkout </a> <br><br>
    <a href='/payment/f229ee2a-67a3-42a5-a5d9-7a6a139eb1c0'> Здесь ссылка на заказ через Stripe Payment Intent </a> <br><br>
  </body>
</html>