{% load static %}
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Платеж успешен!</title>
    </head>
    <body>

        <div class="container">
            <h1>Платеж прошел успешно!</h1>
            <p>Спасибо за покупку!</p>
            <div class="cat-container">
                <img src="{% static 'images/cat.jpeg' %}" alt="Счастливый рыжий кот">
            </div>
        </div>
    </body>
</html>